<p>pipedemo works!</p>



    <h1>{{ title }}</h1>
  
    <h3>Built-in Pipes</h3>


    <p><strong>Original Title:</strong> {{ title }}</p>

    <p><strong>Uppercase:</strong> {{ title | uppercase }}</p>
    <p><strong>Lowercase:</strong> {{ title | lowercase }}</p>


    <p><strong>Date (Full):</strong> {{ today | date:'fullDate' }}</p>    
    <p><strong>Date (Short):</strong> {{ today | date:'shortDate' }}</p>


    <p><strong>Currency (USD):</strong> {{ price | currency:'USD' }}</p>
    <p><strong>Percentage:</strong> {{ percentage | percent }}</p>

    
    <p><strong>JSON:</strong> {{ jsonData | json }}</p>


    <div *ngIf="asyncProducts | async as products; elseloading">
  <div *ngFor="let product of products">
    {{product.title}} - {{product.price}} <br/>
  </div>

   <ng-template #loading>
      <p>Loading products...</p>
    </ng-template>
</div>