<div class="container">
  <div class="filters">
    <a class=" btn btn-primary" (click)="filter = 'Heads'">Heads</a>
    <a class=" btn btn-primary" (click)="filter ='Arms'">Arms</a>
    <a class=" btn btn-primary" (click)="filter='Torsos'">Torsos</a>
    <a class=" btn btn-primary" (click)="filter='Bases'">Bases</a>
    <a class=" btn btn-primary" (click)="filter=''">All</a>
  </div>

  <ul class="products">
    @for( productdetail of getFilteredProducts() ; track productdetail.id)
    {
    <product [product]="productdetail" (buy)="addToCart(productdetail)"></product>
    }
  </ul>

</div>
